@import @/styles/helpers

.head
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: rem(24)
    +xl
        margin-bottom: rem(8)

.title
    margin-right: auto
    +title
    color: $n5
    +w
        +base

.actions
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: rem(16)
    margin-bottom: rem(16)

.action
    width: 220px
    height: 48px
    padding: 12px, 32px, 12px, 32px
    border: 2px
    gap: 8px
    color: $n0
    border: 2px solid $n0
    box-shadow: 4px 6px 0px 0px $n0
    background: $n9
    &:hover
        background: $n13

.btnTitle
    font-size: 14px
    font-weight: 700
    line-height: 24px
    letter-spacing: 0em
    text-align: left


.details
    margin-bottom: rem(24)
    padding: rem(32) rem(40)
    border-radius: rem(24)
    +xl
        padding: rem(16)

.code
    display: inline-flex
    align-items: center
    margin-bottom: rem(12)
    padding: rem(8)
    background: $o6
    border-radius: rem(12)
    +base
    color: $n1
    +xl
        +baseS
    &:after
        content: ""
        display: block
        width: rem(16)
        height: rem(16)
        margin-left: rem(12)
        border-radius: 50%
        background: $a4

.line
    display: flex
    justify-content: space-between
    +rh(900)
        +h3M
    +xl
        +h3S
    +d
        +h3S
    +m
        +h4S

.crypto
    color: $n3

.price
    color: $n5

.balances
    width: 100%
    display: flex
    justify-content: space-between
    color: $n0
.balance
    font-size: 20px
    font-weight: 700
    line-height: 40px
    letter-spacing: 0em
    text-align: left

.chain
    color: $n0