@import @/styles/helpers

.row
    display: flex
    flex-direction: column
    +m
        display: block

.col
    flex: 0 0 100%
    width: 100%
    background: $n9
    +t
        width: 100%
    &:nth-child(1)
        position: relative
    &:nth-child(2)
        padding-bottom: 14rem

.avatar
    position: absolute
    top: rem(-144)
    left: rem(68)
    width: rem(224)
    height: rem(224)
    border: rem(12) solid rgba($n1, .25)
    border-radius: 50%
    +xl
        left: rem(52)
    +w
        left: rem(28)
    +t
        top: rem(-108)
        left: rem(12)
        width: rem(184)
        height: rem(184)
    img
        border-radius: 50%

.list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +m
        display: block
        margin: 0

.card
    flex: 0 0 calc(50% - rem(40))
    width: calc(50% - rem(40))
    margin: rem(64) rem(20) 0
    margin-left: 0
    +w
        flex: 0 0 calc(33% - rem(32))
        width: calc(33% - rem(32))
        margin: rem(48) rem(16) 0
        margin-left: 0
    +t
        flex: 0 0 calc(50% - rem(32))
        width: calc(50% - rem(32))
        margin-left: 0
    +m
        width: 100%
        margin: rem(32) 0 0
        margin-left: 0

.skeleton
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    padding-right: 4rem
    padding-left: 4rem
    +m
        display: block
        margin: 0
    &.list
        display: block
        margin: 0
        .token
            width: 100%
            margin: rem(48) 0 0
            +m
                margin-top: rem(40)