@import @/styles/helpers

.field
    &.fieldIcon
        .input,
        .textarea
            padding-right: rem(40)
    &.fieldTextarea
        font-size: 0
        .icon
            top: rem(16)
            transform: translateY(0)
    &.fieldLight
        .input,
        .textarea
            border-color: $n6
            color: $n1
            &::placeholder
                color: $n1
            &:focus
                border-color: $n1
    &.fieldLarge
        .input
            height: rem(64)
            +m
                height: rem(72)
        .textarea
            height: rem(212)
            padding: rem(32) rem(32) rem(24) 0
            +m
                height: rem(160)
                padding: rem(16) rem(32) rem(16) 0
        &.fieldTextarea
            .icon
                top: rem(34)
                +m
                    top: rem(18)

.wrap
    position: relative
    
.input,
.textarea
    width: 100%
    padding: 16px
    border: 1.5px solid $n14
    background: transparent
    border-radius: 0
    +body2Bold
    color: $n0
    transition: border-color .2s
    box-shadow: 2px 4px 0px 0px $n14
    font-size: 16px
    font-weight: 500
    line-height: 19px
    letter-spacing: 0em
    text-align: left
    &::placeholder
        font-size: 16px
        font-weight: 500
        line-height: 19px
        letter-spacing: 0em
        text-align: left
        color: $n7
    &:hover
        border-color: $n0
        box-shadow: 2px 4px 0px 0px $n0
    &:focus
        border-color: $n0
        box-shadow: 2px 4px 0px 0px $n0

.input
    height: 48px

.textarea
    height: rem(152)
    padding: 16px !important
    border: 1.5px solid $n14
    box-shadow: 2px 4px 0px 0px $n14
    resize: none

.icon
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    pointer-events: none
    fill: $n5

.label
    margin-top: rem(4)
    +captionBold
    color: $n4

.upload
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: $n9
    border: 1.5px solid $n14
    box-shadow: 2px 4px 0px 0px $n14
    padding: 16px
    &:hover
        border-color: $n0
        box-shadow: 2px 4px 0px 0px $n0

.action
    width: 115px
    height: 40px
    padding: 8px, 32px, 8px, 32px
    border: 1px
    gap: 8px
    background: $n9
    border: 1px solid $n0
    margin-bottom: 8px
    &:hover
        background: $n13

.btnTitle
    font-size: 14px
    font-weight: 700
    line-height: 24px
    letter-spacing: 0em
    text-align: left
    color: $n0

.detail
    font-size: 16px
    font-weight: 500
    line-height: 19px
    letter-spacing: 0em
    text-align: center

.type
    font-size: 12px
    font-weight: 500
    line-height: 19px
    letter-spacing: 0em
    text-align: center
    color: $n10


.customFileUpload 
  position: relative
  overflow: hidden
  display: inline-block
  cursor: pointer
  padding-top: 8px
  padding-bottom: 8px
  padding-right: 32px
  padding-left: 32px
  border: 1px solid $n0
  cursor: pointer
  gap: 8px
  text-align: center
  margin-bottom: 8px
  &:hover
    background: $n13
.file 
  position: absolute
  font-size: 100px
  right: 0
  top: 0
  opacity: 0
