@import @/styles/helpers

.logo
    font-size: 32px
    color: $n0
    display: block
    flex-shrink: 0
    display: flex
    gap: 12px
    align-items: center
    svg
        width: 100%
        min-width: rem(168)
        height: auto
        fill: $n0
    &.light
        svg
            fill: $n0

