@import @/styles/helpers

.spotlight
    padding: rem(40) rem(80)
    background: $a5
    +xl
        padding: rem(32) rem(64)
    +w
        padding: rem(32) rem(40)
    +d
        padding: rem(20) rem(40)
    +t
        padding: rem(20) rem(24)

.contentWrapper
    background: $n8
    padding: rem(80)
    +xl
        padding: rem(80) rem(64)
    +w
        padding: rem(80) rem(40) rem(64)
    +d
        padding: rem(80) rem(40) rem(40)
    +t
        padding: rem(80) rem(24) rem(40)
    +m
        padding: rem(40) rem(24)

.dot
    color: $n11

.head
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    gap: rem(40)
    +m
        display: block

.imageWrapper
    flex-shrink: 0
    border: 0.5px solid $n10
    overflow: hidden
    position: relative
    width: 140px
    height: 140px
    +m
        width: 100%
        height: auto
        aspect-ratio: 1
    &:before
        content: ""
        display: block
        padding-bottom: 100%
    &:after
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.33%, rgba(0, 0, 0, 0.5) 100%)
        opacity: 0
        transition: opacity .2s

.photo
    transform: scale(1)

.details
    flex-grow: 1
    margin-right: rem(40)
    +m
        margin: rem(32) 0

.title
    margin-bottom: rem(20)
    font-size: 24px
    font-weight: 500
    line-height: 31px
    letter-spacing: 0em
    text-align: left
    color: $n0

.musicIcon
    vertical-align: text-bottom
    margin-left: 8px

.info
    font-size: 14px
    font-weight: 500
    line-height: 18px
    max-width: 860px
    color: $n5

.list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-self: flex-start
    flex-grow: 1
    margin: 0
    &::after
        content: ""
        flex: auto

.card
    flex: 0 0 calc(20% - 20px)
    width: calc(20% - 20px)
    margin: 0 0 48px
    margin-right: 24px
    &:nth-child(5n)
        margin-right: 0
    +w
        margin-right: 24px !important
        flex: 0 0 calc((100% / 3) - 16px)
        width: calc((100% / 3) - 16px)
        &:nth-child(3n)
            margin-right: 0 !important
    +t
        margin-right: 24px !important
        flex: 0 0 calc(50% - 12px)
        width: calc(50% - 12px)
        &:nth-child(2n)
            margin-right: 0 !important

.stats
    display: flex
    flex-direction: row
    align-items: center
    flex-shrink: 0
    gap: 32px
    +m
        justify-content: space-between


.stat
    display: flex
    flex-direction: column
    align-items: center
    flex-shrink: 0

.statName
    text-align: center
    font-weight: 500
    font-size: 12px
    line-height: 24px
    color: $n10

.statValue
    text-align: center
    font-weight: 500
    font-size: 18px
    line-height: 32px
    color: #FFFFFF

.currency
    font-size: 12px

.row
    position: relative
    display: flex
    flex-direction: row
    gap: 20px

.sidebar
    width: 300px
    min-width: 300px
    max-width: 300px
    align-self: flex-start
    position: sticky
    top: 40px
    display: none
    +m
        display: none
    .dropdown
        width: 100%
        margin-bottom: 16px
    .checkbox
        width: 100%
        margin-bottom: 16px

.attributes
    border: 1px solid $n6
    font-size: 14px
    font-weight: 500
    color: $n4
    padding: 8px
    max-height: 65vh
    overflow-y: scroll
    scrollbar-gutter: stable
    scrollbar-color: $n10 $n8
    scrollbar-width: thin

.attributes::-webkit-scrollbar-thumb
    border-radius: 0px
    background: $n10

.attributes::-webkit-scrollbar
    background: $n8
    width: 8px

.filters
    display: none
    +m
        display: block
    margin-bottom: 16px
    .dropdown
        width: 250px
        +m
            width: 100%
    .checkbox
        margin-right: 16px
        +m
            width: 100%
            margin-bottom: 16px

.filterButton
    background: transparent
    position: absolute
    left: 0
    top: -64px
    height: 48px
    border: 1px solid $n6
    font-weight: 500
    color: $n4
    padding: 0 16px
    &:hover
        border: 1px solid $n0
    +m
        display: none
    svg
        fill: none
        stroke: $n4
        stroke-width: 1px
        stroke-linecap: round
        stroke-linejoin: round
        margin-left: 0
        margin-right: 16px
    &.active
        + .sidebar
            display: block
            +m
                display: none
